<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <li><strong>Nombre:</strong> {{this.title}}<br>
                <strong>Precio:</strong> ${{this.price}}<br>
            </li>
        {{/each}}
    </ul>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/index.js"></script>
</body>
</html>
