<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos tiempo real</title>
</head>
<body>
    <h1>Productos en tiempo real</h1>
    <ul id="productList">
        {{#each products}}
            <li>{{this.title}} - Precio: ${{this.price}}</li>
        {{/each}}
    </ul>

    <h2>Agregar Producto</h2>
    <form id="productForm">
        <label for="title">Nombre del producto:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label for="description">Descripción:</label>
        <textarea id="description" name="description" rows="4" cols="50"></textarea>
        <br>
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" required>
        <br>
        <label for="code">Codigo:</label>
        <input type="text" id="code" name="code" required>
        <br>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" required>
        <br>
        <label for="category">Categoria:</label>
        <input type="text" id="category" name="category" required>
        <br>
        <label for="thumbnail">URL de la imagen (thumbnail):</label>
        <input type="text" id="thumbnail" name="thumbnail" required>
        <br>
        <button type="submit">Agregar Producto</button>
    </form>

    <!-- formulario para eliminar productos -->
    <h2>Eliminar Producto</h2>
    <form id="deleteProductForm">
        <label for="productId">ID del Producto:</label>
        <input type="number" id="productId" name="productId" required><br>
        <button type="submit">Eliminar Producto</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('updateProducts', (products) => {
            const productsList = document.getElementById('productList');
            productsList.innerHTML = '';
            products.forEach((product) => {
                const listItem = document.createElement('li');
                listItem.textContent = `${product.title} - Precio: $${product.price}`;
                productsList.appendChild(listItem);
            });
        });

        // evento para crear productos
        const productForm = document.getElementById('productForm');
        productForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const title = document.getElementById('title').value;
            const description = document.getElementById('description').value;
            const price = parseFloat(document.getElementById('price').value);
            const code = document.getElementById('code').value;
            const stock = parseInt(document.getElementById('stock').value);
            const category = document.getElementById('category').value;
            const thumbnail = document.getElementById('thumbnail').value;


            // solicitud al servidor para crear un producto
            socket.emit('createProduct', { title, description, price, code, stock, category, thumbnail });
        });

        // evento para eliminar productos
        const deleteProductForm = document.getElementById('deleteProductForm');
        deleteProductForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const productId = parseInt(document.getElementById('productId').value);

            // solicitud al servidor para eliminar un producto
            socket.emit('deleteProduct', productId);
        });
    </script>
</body>
</html>